apache/*
scripts/*
blog/*
htaccess/*
logs/*
modernbill/*
phpmv2/*
postfix/*
scripts/*
sf_app_old/*
template-sandbox/*
webalizer/*
webalizer-vhosts/*
xyz/*
/nbproject/*
htdocs/*
*.svn
*.db
*jumpPage*
test
esq.sublime*
.git
