body{
	padding:3px 3px 3px 3px;
	margin:0px;
	background-color:#ece6ab;
}

div, p, span, ul, li, includes, form{
	border:0px;
	padding:0px;
	margin:0px;
}

h1, h2, h3{
	border:0px;
	padding:0px;
	margin:0px;
}

img{
	border:none;
}

.clear{
	clear:both;
}

/*header*/

#header{
	width:100%;
	height:82px;
	border-bottom:1px solid #5e2205;
	background-color:#744c0b;
	padding:0px 0px 0px 0px;
	margin:0 auto;
}

#headerarea{
	width:859px;
	height:82px;
	padding:0px 0px 0px 0px;
	margin:0 auto;
}

#logo{
	width:348px;
	height:27px;
	float:left;
	font:bold 20px/27px "Arial", Helvetica, sans-serif;
	color:#fff;
	background:url(../images/logo_bg.png) left no-repeat;
	padding:0px 0px 0px 38px;
	margin:27px 0px 0px 0px;
}

#logo h1{
	font:bold 20px/27px "Arial", Helvetica, sans-serif;
	color:#fff;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#logo a{
	font:bold 20px/27px "Arial", Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#logo a:hover{
	font:bold 20px/27px "Arial", Helvetica, sans-serif;
	color:#ece6ab;
	text-decoration:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#contact{
	width:248px;
	height:27px;
	float:right;
	font:bold 17px/27px "Tahoma", Arial, Helvetica, sans-serif;
	color:#ddae62;
	text-align:right;
	text-transform:uppercase;
	padding:0px 0px 0px 0px;
	margin:27px 0px 0px 0px;
}

#contact ul{
	display:block;
	border:0px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#contact ul li{
	display:block;
	list-style:none;
	float:right;
	font:bold 17px/27px "Tahoma", Arial, Helvetica, sans-serif;
	color:#ddae62;
	border:0px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 5px;
}

#contact ul li a{
	font:bold 17px/27px "Tahoma", Arial, Helvetica, sans-serif;
	color:#ddae62;
	text-decoration:none;
	border:0px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#contact ul li a:hover{
	font:bold 17px/27px "Tahoma", Arial, Helvetica, sans-serif;
	color:#ddae62;
	text-decoration:none;
	border:0px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

/*navigation*/

#nav{
	width:100%;
	height:46px;
	border-bottom:1px solid #b08d34;
	background-color:#d2ae51;
	padding:0px 0px 0px 0px;
	margin:0 auto;
}

#navarea{
	width:859px;
	height:40px;
	font:normal 13px/40px "Arial", Helvetica, sans-serif;
	color:#141414;
	padding:0px 0px 0px 0px;
	margin:0 auto;
}

#navarea ul{
	display:block;
	border:0px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#navarea ul li{
	display:block;
	list-style:none;
	float:left;
	font:normal 13px/40px "Arial", Helvetica, sans-serif;
	color:#141414;
	border:0px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#navarea ul li a{
	display:block;
	font:normal 13px/40px "Arial", Helvetica, sans-serif;
	color:#141414;
	text-decoration:none;
	border:0px;
	background:none;
	padding:0px 10px 0px 10px;
	margin:0px 0px 0px 0px;
}

#navarea ul li a:hover{
	display:block;
	font:normal 13px/40px "Arial", Helvetica, sans-serif;
	color:#fefefe;
	text-decoration:none;
	border:0px;
	background-color:#5e2205;
	padding:0px 10px 0px 10px;
	margin:0px 0px 0px 0px;
}

#navarea ul li .navactive{
	display:block;
	font:normal 13px/40px "Arial", Helvetica, sans-serif;
	color:#fefefe;
	text-decoration:none;
	border:0px;
	background-color:#5e2205;
	padding:0px 10px 0px 10px;
	margin:0px 0px 0px 0px;
}

/*banner*/

#banner{
	width:855px;
	height:211px;
	background:url(../images/banner_bg.png) top center no-repeat;
	padding:2px 2px 2px 2px;
	margin:15px auto 0 auto;
}

/*body*/

#conarea{
	width:859px;
	min-height:198px;
	max-height:100%;
	overflow:hidden;
	padding:0px 0px 0px 0px;
	margin:15px auto 0 auto;
}

#conarealeft{
	width:216px;
	min-height:198px;
	max-height:100%;
	overflow:hidden;
	float:left;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#conarealeft a{
	text-decoration:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#conarealeft a:hover{
	text-decoration:underline;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#conarealeft h2{
	height:27px;
	display:block;
	font:bold 17px/27px "Tahoma", Arial, Helvetica, sans-serif;
	color:#fff;
	border-bottom:1px solid #ac8735;
	background-color:#744c0b;
	padding:0px 14px 0px 14px;
	margin:0px 0px 0px 0px;
}

#conarealeft h2 a{
	font:bold 17px/27px "Tahoma", Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#conarealeft h2 a:hover{
	font:bold 17px/27px "Tahoma", Arial, Helvetica, sans-serif;
	color:#d2ae51;
	text-decoration:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

.conleft{
	min-height:38px;
	max-height:100%;
	overflow:hidden;
	font:normal 12px/14px "Arial", Helvetica, sans-serif;
	color:#4f3305;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

.conboxleft{
	min-height:38px;
	max-height:100%;
	overflow:hidden;
	font:normal 12px/14px "Arial", Helvetica, sans-serif;
	color:#4f3305;
	background-color:#d2ae51;
	padding:14px 14px 14px 14px;
	margin:0px 0px 0px 0px;
}

.line{
	height:2px;
	background:url(../images/lineleft.png) bottom center repeat-x;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#conarearight{
	width:621px;
	min-height:198px;
	max-height:100%;
	overflow:hidden;
	float:right;
	font:normal 12px/18px "Arial", Helvetica, sans-serif;
	color:#4f3305;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#conarearight a{
	text-decoration:none;
	font:normal 12px/18px "Arial", Helvetica, sans-serif;
	color:#4f3305;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#conarearight a:hover{
	text-decoration:none;
	font:normal 12px/18px "Arial", Helvetica, sans-serif;
	color:#4f3305;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#conarearight h3{
	height:27px;
	display:block;
	font:bold 17px/27px "Tahoma", Arial, Helvetica, sans-serif;
	color:#fff;
	border-bottom:1px solid #b39869;
	background-color:#5e2205;
	padding:0px 14px 0px 14px;
	margin:0px 0px 0px 0px;
}

#conarearight h3 a{
	font:bold 17px/27px "Tahoma", Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#conarearight h3 a:hover{
	font:bold 17px/27px "Tahoma", Arial, Helvetica, sans-serif;
	color:#b39869;
	text-decoration:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

.conright{
	min-height:38px;
	max-height:100%;
	overflow:hidden;
	font:normal 12px/14px "Arial", Helvetica, sans-serif;
	color:#4f3305;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

.conboxright{
	min-height:38px;
	max-height:100%;
	overflow:hidden;
	font:normal 12px/18px "Arial", Helvetica, sans-serif;
	color:#4f3305;
	padding:14px 14px 14px 14px;
	margin:0px 0px 0px 0px;
}

/*footer*/

#footer{
	width:100%;
	min-height:46px;
	max-height:100%;
	overflow:hidden;
	padding:0px 0px 0px 0px;
	margin:0 auto;
}

#footercon{
	width:100%;
	min-height:46px;
	max-height:100%;
	overflow:hidden;
	border-bottom:1px solid #bca86b;
	background-color:#744c0b;
	padding:0px 0px 0px 0px;
	margin:0 auto;
}

#footerconarea{
	width:859px;
	height:46px;
	padding:0px 0px 0px 0px;
	margin:0 auto;
}

#footerconleft{
	width:298px;
	height:46px;
	float:left;
	font:normal 11px/46px "Arial", Helvetica, sans-serif;
	color:#fefefe;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#footerconleft ul{
	display:block;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#footerconleft ul li{
	display:block;
	list-style:none;
	float:left;
	font:normal 11px/46px "Arial", Helvetica, sans-serif;
	color:#fefefe;
	padding:0px 5px 0px 0px;
	margin:0px 0px 0px 0px;
}

#footerconleft ul li a{
	display:block;
	font:normal 11px/46px "Arial", Helvetica, sans-serif;
	color:#fefefe;
	text-decoration:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#footerconleft ul li a:hover{
	display:block;
	font:normal 11px/46px "Arial", Helvetica, sans-serif;
	color:#fefefe;
	text-decoration:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#footerconleft a{
	font:normal 11px/46px "Arial", Helvetica, sans-serif;
	color:#fefefe;
	text-decoration:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#footerconleft a:hover{
	font:normal 11px/46px "Arial", Helvetica, sans-serif;
	color:#fefefe;
	text-decoration:underline;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#footerconright{
	width:398px;
	height:46px;
	float:right;
	font:normal 11px/46px "Arial", Helvetica, sans-serif;
	color:#fefefe;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#footerconright ul{
	display:block;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#footerconright ul li{
	display:block;
	list-style:none;
	float:right;
	font:normal 11px/46px "Arial", Helvetica, sans-serif;
	color:#fefefe;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#footerconright ul li a{
	display:block;
	font:normal 11px/46px "Arial", Helvetica, sans-serif;
	color:#fefefe;
	text-decoration:none;
	padding:0px 5px 0px 5px;
	margin:0px 0px 0px 0px;
}

#footerconright ul li a:hover{
	display:block;
	font:normal 11px/46px "Arial", Helvetica, sans-serif;
	color:#ece6ab;
	text-decoration:none;
	padding:0px 5px 0px 5px;
	margin:0px 0px 0px 0px;
}

#footercopy{
	width:859px;
	min-height:38px;
	max-height:100%;
	overflow:hidden;
	font:normal 11px/38px "Arial", Helvetica, sans-serif;
	color:#141414;
	text-align:center;
	padding:0px 0px 0px 0px;
	margin:0 auto;
}

#footercopy a{
	font:normal 11px/38px "Arial", Helvetica, sans-serif;
	color:#141414;
	text-decoration:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#footercopy a:hover{
	font:normal 11px/38px "Arial", Helvetica, sans-serif;
	color:#141414;
	text-decoration:overline;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}