.body_text {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.style1 {color: #FFFFFF}
.style3 {color: #FFFFFF; font-size: 24px; }
.style12 {color: #FFFF00; font-size: 18px; font-weight: bold; }
.style14 {color: #00FF00; font-size: 18px; font-weight: bold; }