a img {border:none;}

#esq_payment_form {text-align:left;width:300px;padding:10px;border:1px solid #dfdfe0;-moz-border-radius:10px;-webkit-border-radius:10px;background:url('../images/gradient.jpg') #FFF repeat-x bottom;}
#esq_payment_submit {text-align: left;}