<!-- 15.1 -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  {% block title none|include_title %}
  {{none|include_http_metas}}
  {{none|include_metas}}
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <link href="templates/15.1/css/style.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#EEEEEE" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="750" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td background="templates/15.1/images/left_back.jpg" bgcolor="#FFFFFF"><img src="templates/15.1/images/left_back.jpg" width="24" height="6"></td>
    <td colspan="3"><img src="templates/15.1/images/logo.gif" alt="Lawers &amp; Company" width="234" height="212"><img src="templates/15.1/images/main-top.jpg" width="515" height="212"></td>
    <td background="templates/15.1/images/right_back.jpg" bgcolor="#FFFFFF"><img src="templates/15.1/images/right_back.jpg" width="24" height="6"></td>
  </tr>
  <tr>
    <td width="1" rowspan="6" background="templates/15.1/images/left_back.jpg" bgcolor="#FFFFFF">&nbsp;</td>
    <td colspan="3"> <TABLE WIDTH=747 BORDER=0 CELLPADDING=0 CELLSPACING=0>
        <TR>
          <TD> <a href="javascript:;" onMouseOver="MM_swapImage('firm','','templates/15.1/images/top_over_01.jpg',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="templates/15.1/images/top_over_01.jpg" name="firm" WIDTH=79 HEIGHT=36 border="0" id="firm"></a></TD>
          <TD> <a href="javascript:;" onMouseOver="MM_swapImage('prac','','templates/15.1/images/top_over_02.jpg',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="templates/15.1/images/top_02.jpg" name="prac" WIDTH=88 HEIGHT=36 border="0" id="prac"></a></TD>
          <TD> <a href="javascript:;" onMouseOver="MM_swapImage('bio','','templates/15.1/images/top_over_03.jpg',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="templates/15.1/images/top_03.jpg" name="bio" WIDTH=78 HEIGHT=36 border="0" id="bio"></a></TD>
          <TD> <a href="javascript:;" onMouseOver="MM_swapImage('about','','templates/15.1/images/top_over_04.jpg',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="templates/15.1/images/top_04.jpg" name="about" WIDTH=62 HEIGHT=36 border="0" id="about"></a></TD>
          <TD> <a href="javascript:;" onMouseOver="MM_swapImage('news','','templates/15.1/images/top_over_05.jpg',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="templates/15.1/images/top_05.jpg" name="news" WIDTH=45 HEIGHT=36 border="0" id="news"></a></TD>
          <TD> <a href="javascript:;" onMouseOver="MM_swapImage('settlement','','templates/15.1/images/top_over_06.jpg',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="templates/15.1/images/top_06.jpg" name="settlement" WIDTH=77 HEIGHT=36 border="0" id="settlement"></a></TD>
          <TD> <a href="javascript:;" onMouseOver="MM_swapImage('faq','','templates/15.1/images/top_over_07.jpg',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="templates/15.1/images/top_07.jpg" name="faq" WIDTH=42 HEIGHT=36 border="0" id="faq"></a></TD>
          <TD> <a href="javascript:;" onMouseOver="MM_swapImage('links','','templates/15.1/images/top_over_08.jpg',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="templates/15.1/images/top_08.jpg" name="links" WIDTH=44 HEIGHT=36 border="0" id="links"></a></TD>
          <TD> <a href="javascript:;" onMouseOver="MM_swapImage('submit','','templates/15.1/images/top_over_09.jpg',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="templates/15.1/images/top_09.jpg" name="submit" WIDTH=87 HEIGHT=36 border="0" id="submit"></a></TD>
          <TD> <a href="javascript:;" onMouseOver="MM_swapImage('directions','','templates/15.1/images/top_over_10.jpg',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="templates/15.1/images/top_10.jpg" name="directions" WIDTH=69 HEIGHT=36 border="0" id="directions"></a></TD>
          <TD> <a href="javascript:;" onMouseOver="MM_swapImage('contact','','templates/15.1/images/top_over_11.jpg',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="templates/15.1/images/top_11.jpg" name="contact" WIDTH=76 HEIGHT=36 border="0" id="contact"></a></TD>
        </TR>
      </TABLE></td>
    <td width="2" rowspan="6" background="templates/15.1/images/right_back.jpg" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td width="195" valign="top">&nbsp;</td>
    <td width="52"><img src="templates/15.1/images/clear.gif" width="52" height="1"></td>
    <td width="500">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" bgcolor="#38507E"><img src="templates/15.1/images/book_layer.jpg" alt="Book a Lawyer" width="195" height="112"></td>
    <td>&nbsp;</td>
    <td rowspan="2" valign="top"> <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="51" colspan="3" valign="top"><img src="templates/15.1/images/resources.jpg" alt="Resources" width="102" height="23"></td>
          <td width="2%">&nbsp;</td>
        </tr>
        <tr>
          <td width="46%" valign="top"><img src="templates/15.1/images/image3.jpg" width="217" height="145"></td>
          <td width="2%">&nbsp;</td>
          <td width="50%" valign="top"  class="innertext2">Misiunea noastra este
            de a va oferi servicii de calitate intr-un cadru modern si ospitalier.<br>
            Odata intrat in universul nostru , va veti putea bucura de un spatiu
            eficient organizat - astfel, in cel mai scurt timp, va puteti folosi
            de facilitatile noastre din: hotel (110 locuri - 66 camere si 4 apartamente),
            <br>
            restaurant, braserie, bar, birouri, sali de conferinte, salon de infrumusetare
            si fitness, parcare subterana. arcare subterana arcare subterana Misiunea
            noastra este de a va oferi servicii de calitate intr-un cadru </td>
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td valign="bottom" bgcolor="#B8CEFF"><img src="templates/15.1/images/hand.jpg" alt="Schedule Planning" width="195" height="113"></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="150" bgcolor="#353535">&nbsp; </td>
    <td>&nbsp;</td>
    <td valign="top"> <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="8">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="7" bgcolor="#607499"><img src="templates/15.1/images/clear.gif" width="1" height="1"></td>
          <td><img src="templates/15.1/images/clear.gif" width="1" height="1"></td>
        </tr>
        <tr>
          <td height="50" colspan="8"><img src="templates/15.1/images/more_resources.jpg" alt="More Resources" width="122" height="26"></td>
        </tr>
        <tr bgcolor="#353535">
          <td width="16%" valign="top"><img src="templates/15.1/images/image1.jpg" width="80" height="60"></td>
          <td width="1%" valign="top"><img src="templates/15.1/images/clear.gif" width="4" height="1"></td>
          <td width="32%" valign="top" class="lefttext"><font color="#274086"><strong>Great
            trial on Sunday</strong></font><br>
            Our greatest intereset is to we are dedicated, loyal and hard working
            advocates for our clients. The firm prof concen <a href="#"  class="leftlink">Details
          &gt;</a></td>
          <td width="1%" valign="top"><img src="templates/15.1/images/clear.gif" width="4" height="1"></td>
          <td width="16%" valign="top"><img src="templates/15.1/images/image2.jpg" width="80" height="60"></td>
          <td width="1%" valign="top"><img src="templates/15.1/images/clear.gif" width="4" height="1"></td>
          <td width="32%" valign="top" class="lefttext"><font color="#274086"><strong>Great
            trial on Sunday</strong></font><br>
            Our greatest intereset is to we are dedicated, loyal and hard working
            advocates for our clients. The firm prof concen <a href="#"  class="leftlink">Details
          &gt;</a></td>
          <td width="1%"><img src="templates/15.1/images/clear.gif" width="4" height="1"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="40" align="right" class="t01">&nbsp;</td>
    <td height="40" align="right" class="t01">&nbsp;</td>
    <td height="40" align="right" class="t01"><a href="index.htm" target="_parent" class="t01">Home</a>
      &nbsp;| &nbsp;<a href="index_sub.htm" target="_parent" class="t01">Disclaimers</a>
      &nbsp;| &nbsp; <a href="index_sub.htm" target="_parent" class="t01"> Copyright</a>
      &nbsp;| &nbsp; <a href="index_sub.htm" target="_parent" class="t01"> Privacy
      Statement</a> &nbsp;| &nbsp; <a href="index_sub.htm" target="_parent" class="t01">
      Site Map</a> &nbsp;| &nbsp; <a href="index_sub.htm" target="_parent" class="t01">Contact</a>&nbsp;&nbsp;</td>
  </tr>
</table>
</body>
</html>